<!DOCTYPE html>
<html>
<head>
    <!-- Add your CSS files here -->
    <link rel="stylesheet" type="text/css" href="/adoption-crud-api/us-central1/miFuncion/stylesheets/style.css">

</head>
<body>
    {{{body}}}
</body>
</html>