 <div class="container">
        <h1>Check Adoption Status</h1>
        <form id="statusForm" onsubmit="submitForm(event)" method="GET">
            <label for="trackingId">Verification Number:</label>
            <input type="text" id="trackingId" name="trackingId" required>
            <button type="submit">Check</button>
        </form>
        <div id="result">
            {{#if status}}
                <p>Status: {{status.status}}</p>
            {{/if}}
            {{#if error}}
                <p>Error: {{error}}</p>
            {{/if}}
        </div>
    </div>
    <script>
        function submitForm(event) {
            event.preventDefault();
            const trackingId = document.getElementById('trackingId').value;
            window.location.href = `/miFuncion/adoption-status/${trackingId}`;
        }
    </script>