<div class="container">
    <h1>{{message}}</h1>
    {{#if trackingId}}
        <p>
            Copy the trackingId and check your adoption status
            <a href="/miFuncion/adoption-status" title="Check your adoption status">Here</a>
        </p>
    {{else}}
        <p>
            You can try again and adopt a pokemon <span class="link"><a href="/miFuncion/">Here</a></span>.
        </p>
    {{/if}}
</div>
